In [23]:
import pandas as pd 
import os 

neiss2019_df = pd.read_csv("../Data/neiss2019.csv")
neiss2019_df.head()

,CPSC_Case_Number,Treatment_Date,Age,Sex,Race,Other_Race,Hispanic,Body_Part,Diagnosis,Other_Diagnosis,...,Fire_Involvement,Product_1,Product_2,Product_3,Alcohol,Drug,Narrative,Stratum,PSU,Weight
0,190103267,1/1/19,81,1,0,NaN,0,79,57,NaN,...,0,1141,0,0,0,0,81YOM TRIPEPD OVER A BOX AND FELL ONTO RIGHT H...,M,63,81.152
1,190103268,1/1/19,38,2,0,NaN,0,36,57,NaN,...,0,1842,0,0,0,0,38YOF FELL DOWN A FLIGHT OF STAIRS AND SUSTAIN...,M,63,81.152
2,190103269,1/1/19,94,1,0,NaN,0,75,62,NaN,...,0,1807,0,0,0,0,94YOM FELL TO THE FLOOR AT THE NURSING HOME ON...,M,63,81.152
3,190103270,1/1/19,86,1,0,NaN,0,75,62,NaN,...,0,611,0,0,0,0,86YOM FELL IN THE SHOWER AT HOME AND SUSTAINED...,M,63,81.152
4,190103273,1/1/19,87,2,0,NaN,0,32,53,NaN,...,0,679,1807,0,0,0,87YOF WAS GETTING UP FROM THE COUCH AND FELL T...,M,63,81.152

In [24]:
#The first step to take in cleaning the data is going to be narrowing it down based on age. 
#As a team we decided that the age range should be 14-24 years old, so I will use this variable to do an initial cleanse. 

neiss2019_df = neiss2019_df.loc[(neiss2019_df["Age"] <= 24) & (neiss2019_df["Age"] >= 14)]

neiss2019_df.head(15)

,CPSC_Case_Number,Treatment_Date,Age,Sex,Race,Other_Race,Hispanic,Body_Part,Diagnosis,Other_Diagnosis,...,Fire_Involvement,Product_1,Product_2,Product_3,Alcohol,Drug,Narrative,Stratum,PSU,Weight
15,190103297,1/1/19,14,1,0,NaN,0,75,62,NaN,...,0,3286,0,0,0,0,14YOM RIDER OF A FOUR WHEELER ATV AND FLIPPED ...,M,63,81.1520
23,190103312,1/1/19,20,1,0,NaN,0,76,56,NaN,...,0,1237,1936,0,0,0,20YOM SHOT HIMSELF IN THE FACE WITH A BB GUN B...,M,63,81.1520
29,190103320,1/1/19,20,1,0,NaN,0,92,59,NaN,...,0,464,0,0,0,0,20YOM WAS USING A KNIFE AT HOME AND SUSTAINED ...,M,63,81.1520
59,190103404,1/1/19,23,1,0,NaN,0,82,51,NaN,...,0,281,0,0,0,0,23YOM SUSTAINED A THERMAL BURN TO HAND AFTER T...,S,73,74.4362
78,190103425,1/1/19,16,1,0,NaN,0,92,51,NaN,...,0,1313,0,0,0,0,16YOM WAS HANDLING A SPARKLER AND SUSTAINED A ...,S,73,74.4362
79,190103426,1/1/19,16,1,0,NaN,0,82,53,NaN,...,0,1884,0,0,0,0,16YOM WAS ANGRY AND PUNCHED A WALL AND SUSTAIN...,S,73,74.4362
81,190103428,1/1/19,17,1,0,NaN,0,76,59,NaN,...,0,550,0,0,0,0,17YOM SISTER THREW HIS PHONE TO HIM AND ACCIDE...,S,73,74.4362
86,190103433,1/1/19,16,1,0,NaN,0,76,59,NaN,...,0,1284,0,0,0,0,16YOM WAS JUMPING INTO A SWIMMING POOL AND HIT...,S,73,74.4362
92,190104001,1/1/19,23,1,1,NaN,2,34,59,NaN,...,0,464,214,0,0,0,"23YOM TRIPPED AND FELL INTO OPEN DISHWASAHER, ...",S,29,74.4362
101,190104429,1/1/19,21,2,1,NaN,2,36,71,SYNCOPE,...,0,611,649,0,0,0,PATIENT WAS TAKING SHOWER AND PASSED OUT HITT...,V,22,16.4632
106,190104574,1/1/19,17,2,2,NaN,2,87,71,NS,...,0,1807,0,0,1,0,17 YOF BROUGHT TO ER WITH COMPLAINTS OF INTOXI...,L,69,54.9889
124,190104655,1/1/19,16,1,0,NaN,0,79,64,NaN,...,0,3272,0,0,0,0,16 YOM C/O GROIN STRAIN S/P INJURED WHILE PLAY...,L,3,54.9889
125,190104657,1/1/19,23,1,1,NaN,2,79,71,PAIN,...,0,4011,1807,0,0,0,23 YOM C/O LOW BACK PAIN S/P JUMPED ON AN AIR ...,L,3,54.9889
129,190104665,1/1/19,15,1,1,NaN,2,75,62,NaN,...,0,698,0,0,1,0,15 YOM C/O HEAD INJURY AND ELBOW ABRASION S/P ...,L,3,54.9889
130,190104669,1/1/19,24,2,3,UNKNOWN,0,37,64,NaN,...,0,1842,0,0,0,0,24 YOF C/O ANKLE SPRAIN S/P TRIP AND FALL DOWN...,L,3,54.9889

In [25]:
#The next step I'm going to take is cutting down the data based on specific injuries. 
#The injuries we chose to look at for this project are: sprains, concussions, broken bones, and dislocations

neiss2019_df = neiss2019_df.loc[ (neiss2019_df["Diagnosis"] == 64 ) | (neiss2019_df["Diagnosis"] == 55) |  (neiss2019_df["Diagnosis"] == 52) | (neiss2019_df["Diagnosis"] == 57) ]

neiss2019_df.head(10)

,CPSC_Case_Number,Treatment_Date,Age,Sex,Race,Other_Race,Hispanic,Body_Part,Diagnosis,Other_Diagnosis,...,Fire_Involvement,Product_1,Product_2,Product_3,Alcohol,Drug,Narrative,Stratum,PSU,Weight
124,190104655,1/1/19,16,1,0,NaN,0,79,64,NaN,...,0,3272,0,0,0,0,16 YOM C/O GROIN STRAIN S/P INJURED WHILE PLAY...,L,3,54.9889
130,190104669,1/1/19,24,2,3,UNKNOWN,0,37,64,NaN,...,0,1842,0,0,0,0,24 YOF C/O ANKLE SPRAIN S/P TRIP AND FALL DOWN...,L,3,54.9889
140,190104686,1/1/19,14,2,1,NaN,2,37,64,NaN,...,0,1842,1807,0,0,0,14 YOF C/O ANKLE SPRAIN S/P FALLING DOWN SIX S...,L,3,54.9889
192,190105061,1/1/19,15,1,0,NaN,0,37,64,NaN,...,0,1205,0,0,0,0,15YOM ROLLED ANKLE WHILE PLAYING BASKETBALL. D...,V,21,16.4632
218,190105437,1/2/19,23,1,0,NaN,0,92,57,NaN,...,0,1893,0,0,0,0,23YOM GOT FINGER CAUGHT IN A METAL DOOR DURING...,M,63,81.1520
232,190105475,1/2/19,19,1,0,NaN,0,37,64,NaN,...,0,1205,0,0,0,0,19YOM WAS PLAYING BASKETBALL AND TWISTED ANKLE...,V,2,16.4632
236,190105487,1/2/19,18,2,0,NaN,0,92,57,NaN,...,0,1893,0,0,0,0,18YOF HAD FINGER CLOSED IN A DOOR AND SUSTAINE...,V,2,16.4632
247,190105512,1/2/19,14,2,0,NaN,0,34,57,NaN,...,0,5040,0,0,0,0,14YOF FELL OFF HER BICYCLE AND FRACTURED WRIST,S,73,74.4362
272,190105540,1/2/19,17,2,0,NaN,0,37,64,NaN,...,0,3246,0,0,0,0,17YOF WAS ON A SWING AND JUMPED OFF AND STRAIN...,S,73,74.4362
299,190106032,1/1/19,15,1,2,NaN,2,36,57,NaN,...,0,1205,0,0,0,0,15 YOM FELL ONTO KNEE PLAYING BASKETBALL. DX ...,C,31,5.5180

In [26]:
#Check that it worked. 
df = neiss2019_df.groupby(["Diagnosis"])["Diagnosis"].count()

print(df)

Diagnosis
52     2612
55     1477
57     7729
64    11569
Name: Diagnosis, dtype: int64

In [27]:
#That worked, now I'm going to drop columns we don't need. Specifically I'm going to drop other_race, treatment_date, fire_involvement, and all other variables we won't need. 

neiss2019_df = neiss2019_df.drop("Other_Race", axis= 1)
neiss2019_df = neiss2019_df.drop("Treatment_Date", axis= 1)
neiss2019_df = neiss2019_df.drop("Fire_Involvement", axis= 1)
neiss2019_df = neiss2019_df.drop("Hispanic", axis= 1)
neiss2019_df = neiss2019_df.drop("CPSC_Case_Number", axis= 1)
neiss2019_df = neiss2019_df.drop("Narrative", axis= 1)
neiss2019_df = neiss2019_df.drop("Other_Diagnosis", axis= 1)
neiss2019_df = neiss2019_df.drop("Body_Part_2", axis= 1)
neiss2019_df = neiss2019_df.drop("Diagnosis_2", axis= 1)
neiss2019_df = neiss2019_df.drop("Other_Diagnosis_2", axis= 1)
neiss2019_df = neiss2019_df.drop("Product_3", axis= 1)

neiss2019_df.head(10)

,Age,Sex,Race,Body_Part,Diagnosis,Disposition,Location,Product_1,Product_2,Alcohol,Drug,Stratum,PSU,Weight
124,16,1,0,79,64,1,9,3272,0,0,0,L,3,54.9889
130,24,2,3,37,64,1,0,1842,0,0,0,L,3,54.9889
140,14,2,1,37,64,1,0,1842,1807,0,0,L,3,54.9889
192,15,1,0,37,64,1,0,1205,0,0,0,V,21,16.4632
218,23,1,0,92,57,1,5,1893,0,0,0,M,63,81.1520
232,19,1,0,37,64,1,0,1205,0,0,0,V,2,16.4632
236,18,2,0,92,57,1,0,1893,0,0,0,V,2,16.4632
247,14,2,0,34,57,1,4,5040,0,0,0,S,73,74.4362
272,17,2,0,37,64,1,0,3246,0,0,0,S,73,74.4362
299,15,1,2,36,57,1,9,1205,0,0,0,C,31,5.5180

In [29]:
#initial cleaning is done, so now this will be written into a csv file and sent to the cleaning group
#for further cleaning and visualization 

#make the csv file 

output_name = "../Data/neiss2019_clean.csv"

neiss2019_df.to_csv(output_name, index_label = 'Age')