In [1]:
import pandas as pd
neiss2010 = pd.read_csv("neiss2010_Alicia.csv")
neiss2011 = pd.read_csv("neiss2011_Alicia.csv")
neiss2012 = pd.read_csv("neiss2012_Alicia.csv")
neiss2013 = pd.read_csv("neiss2013_Alicia.csv")
neiss2014 = pd.read_csv("neiss2014_Alicia.csv")
neiss2015 = pd.read_csv("neiss2015_Alicia.csv")
neiss2016 = pd.read_csv("neiss2016_Alicia.csv")
neiss2017 = pd.read_csv("neiss2017_Alicia.csv")
neiss2018 = pd.read_csv("neiss2018_Alicia.csv")
neiss2019 = pd.read_csv("neiss2019_Alicia.csv")

In [2]:
csv_files = [neiss2010,neiss2011,neiss2012,neiss2013,neiss2014,neiss2015,neiss2016, neiss2017, neiss2018, neiss2019]

In [3]:
masterneiss = pd.concat(csv_files)
masterneiss.head()

,Age,Sex,Race,Body_Part,Diagnosis,Disposition,Location,Product_1,Stratum,PSU,Year
0,28,2,1,89,71,1,1,550,S,84,2010
1,44,1,1,31,64,1,0,4014,S,84,2010
2,80,2,1,76,53,1,1,649,S,84,2010
3,34,2,1,79,64,1,1,4076,S,84,2010
4,213,2,1,0,41,1,4,1682,L,89,2010

In [4]:
masterneiss_targetage = masterneiss[(masterneiss["Age"] > 14) & (masterneiss["Age"]< 25)]

In [5]:
masterneiss_targetage_product = masterneiss_targetage[(masterneiss_targetage["Product_1"] == 1205) | 
                                            (masterneiss_targetage["Product_1"] == 1267) | 
                                            (masterneiss_targetage["Product_1"] == 1268) | 
                                            (masterneiss_targetage["Product_1"] == 3225) | 
                                            (masterneiss_targetage["Product_1"] == 3226) | 
                                            (masterneiss_targetage["Product_1"] == 3237) | 
                                            (masterneiss_targetage["Product_1"] == 3241) | 
                                            (masterneiss_targetage["Product_1"] == 3242) | 
                                            (masterneiss_targetage["Product_1"] == 3267) |
                                            (masterneiss_targetage["Product_1"] == 3271) |
                                            (masterneiss_targetage["Product_1"] == 5030) ]

In [6]:
df = masterneiss_targetage_product.groupby(["Product_1"])["Product_1"].count()

In [7]:
print(df)

Product_1
1205    45767
1267    16510
5030     2214
Name: Product_1, dtype: int64

In [8]:
masterneiss_targetage_product_diag = masterneiss_targetage_product[(masterneiss_targetage_product["Diagnosis"] == 52) |
                                            (masterneiss_targetage_product["Diagnosis"] == 55) | 
                                            (masterneiss_targetage_product["Diagnosis"] == 57) | 
                                            (masterneiss_targetage_product["Diagnosis"] == 64) ]

In [9]:
masterneiss_targetage_product_diag.head()

,Age,Sex,Race,Body_Part,Diagnosis,Disposition,Location,Product_1,Stratum,PSU,Year
5,16,2,3,81,64,1,0,1205,L,89,2010
70,18,2,1,75,52,1,0,1205,V,64,2010
157,20,1,0,30,55,1,0,1205,V,67,2010
245,16,1,1,37,64,1,8,1205,M,16,2010
366,18,1,1,37,64,1,9,1205,L,42,2010

In [10]:
masterneiss_targetage_product_diag.to_csv("masterneiss.csv", index = False)